body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 183, 164);
}

*, div {
    /*border: 1px solid red; */
}

a {
    color: rgb(255, 127, 17);
}
.navigation {
    position: fixed;
    left: 0px;
    height: 60px;
    background-color: rgb(255, 127, 17);
    top: 0px;
    padding-left: 0px;
    align-items: center;
    width: 100.9%;
    z-index: 1;
}

.nav {
    width: 100%;
    align-items: center;
}

.navigation a {
    color: rgb(255, 255, 252);
}

#navFirstLink {
    margin-left: 40px;
}

#navFinalLink {
    margin-right: auto;
}

.indent {
    text-indent: 50px;
}

.movement, .technique {
    border-radius: 7px;
    background-color: rgb(255, 255, 252);
    margin-top: 10px;
    color:rgb(0, 0, 0)
}

#movementHeader, #techniqueHeader {
    margin-left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    border-bottom: 1px solid rgb(65, 65, 65);
}

#movementHeader h4, #techniqueHeader h4 {
    margin: auto;
}
  
.movementLinks, .techniqueLinks {
    overflow: scroll;
    height: 380px;
    width: 100%;
}

.movementLinks .row, .techniqueLinks .row {
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    border-top: 1px solid rgba(131, 131, 131, 0.692);
    font-size: 18px;
}

.main {
    margin-top: 70px;
}
.button {
    margin-right: 1%;
    border: none;
    background-color: rgb(255, 255, 252);
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 140px;
    opacity: 1;
    color: rgb(255, 127, 17);
}

.card {
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 3px;
    background-color: rgb(255, 255, 252);
}

.section {
    margin: 0 auto;
    padding-top: 70px;
    justify-content: center;
}

#videos {
    margin-bottom: 70px;
}

table {
    border: 0;
    border-radius: 7px;
    width: 100%;
    background-color: rgb(255, 255, 252);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 200px;
}

table {
    border-collapse: collapse;
  }
  table td, table th {
    border: 1px solid #dddddd;
  }
  table tr:first-child th {
    border-top: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }